@import "~@/common/css/common.styl"   

.MSG_MODAL
  height: px2rem(100)
  width: fit-content
  padding: px2rem(16)
  display: flex;
  align-items: center;
  background: rgba(37,38,45,0.90);
  border-radius: px2rem(8)
  color: white;
  position: absolute
